# Uni
alias uni="cd ~/Uni/C2"
alias lab="uni; cd Lab"
alias catetoken="git rev-parse HEAD >> ~/cate_token.txt"
# ---- Coursework
alias coursework="cd ~/Uni/C2/Coursework"
# ---- Notes
alias notes="cd ~/Uni/C2/Notes"
# ---- Pintos
alias dirpintos="cd ~/Uni/C2/Lab/pintos"
alias docpintos="cd ~/Uni/C2/Coursework/Pintos"
# ---- SSH
alias sshdocshell="ssh thb12@shell3.doc.ic.ac.uk"
alias sshdocswitch="ssh -Y corona42"
alias sshdoc="ssh -Y thb12@corona42.doc.ic.ac.uk"

# Miscellaneous
alias reloadprofile=". ~/.zshrc"
alias ejectsd="diskutil unmount /Volumes/boot"
alias listpath="echo $PATH | tr ':' '\n'"
alias sub='/Applications/Sublime\ Text\ 2.app/Contents/SharedSupport/bin/subl .'
alias sed gsed
# ---- Servers
alias apache="sudo apachectl start"
alias mysql="/usr/local/mysql/bin/mysql -v"
# ---- Help files
alias help="less ~/.notes"
alias edithelp="open -e ~/.notes"
alias tmuxhelp="less ~/.tmux-instrs"
# ---- Edit profile / aliases
alias editprofile="vim ~/.zshrc"
alias editaliases="vim ~/.aliases"
