# Uni
alias uni="cd ~/Uni/C3"
alias catetoken="git rev-parse HEAD >> ~/cate_token.txt"
# ---- Projects
alias c3gp="cd ~/Uni/C3/GroupProject/c3gp"
# ---- SSH
alias sshdoc="ssh thb12@shell3.doc.ic.ac.uk"

# Miscellaneous
alias reloadprofile=". ~/.zshrc"
alias listpath="echo $PATH | tr ':' '\n'"
alias sed gsed
# ---- Servers
alias apache="sudo apachectl start"
alias mysql="/usr/local/mysql/bin/mysql -v"
# ---- Help files
alias help="less ~/.notes"
alias edithelp="open -e ~/.notes"
alias tmuxhelp="less ~/.tmux-instrs"
# ---- Edit profile / aliases
alias editprofile="vim ~/.zshrc"
alias editaliases="vim ~/.aliases"
